<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.auliya.pengaduanpasien">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PengaduanPasien"
        android:usesCleartextTraffic="true"
        Android:noHistory="true">
        <activity android:name=".view.DetailRekamMedik" />
        <activity android:name=".view.DetailPengaduan" />
        <activity android:name=".view.TentangActivity" />
        <activity android:name=".view.BantuanActivity" />
        <activity android:name=".view.UbahPasswordActivity" />
        <activity android:name=".view.UbahProfilActivity" />
        <activity android:name=".view.PengaturanActivity" />
        <activity android:name=".view.InformasiActivity" />
        <activity android:name=".view.RekamMedikActivity" />
        <activity android:name=".view.PengaduanActivity" />
        <activity android:name=".view.HomeActivity" />
        <activity android:name=".view.LoginActivity" />

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".fcm.NotifInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.NotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>